@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<style>
    body {
        background-color: #FFBAD5;
    }
</style>

<div class="jumbotron">
    <h1>.NET Azure</h1>
    <h1>This web app is made for my ✨CS420✨ class!!</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
